@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can keep or add your custom scrollbar layout styling right below them */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 3px;
}